<div class="jumbotron">
  <h2>Elegant, expressive, unobstructive and featured minimal language for humans</h2>
  <!--<p class="lead">When markup meets programming</p>-->
  <p>
    <a class="btn btn-lg btn-primary" href="#/sintax" role="button">Sintax overview</a>
    <a class="btn btn-lg btn-primary" href="#/parser" role="button">Online parser</a>
  </p>
  <hr />
  <pre class="language-ruby" highlight>
# hidden values
schema url = 'http://schema.org/'

&amp;name: The Empire State Building
description: *name is a 102-story in New York.
image: 'http://bit.ly/1hXoBhd'
context:
  name: *{schema url}/name
  image:
    id: *{schema url}/image
    type: landscape
  end
end
geo:
  latitude: 40.75
  longitude: 73.98
end</pre>
</div>

<div class="row marketing">

  <div class="col-lg-12">
    <h1>What it is?</h1>
    <blockquote>
      <p>Oli aims to be a confortable minimal language for general purposes which provides a mix of features from common markup languages and some basic features from programming languages</p>

      <p>It has a beutiful, elegant and clean syntax with unobstructive grammar, that allows to use it for multiple purposes, like creating your own DSL. It was designed to be mainly consumed by humans</p>
    </blockquote>
  </div>

  <div class="col-lg-12">
    <h2>Features</h2>
  </div>

  <div class="col-lg-6">
    <h4>Primitives Types</h4>
    <p>Support for trivial primitive types: boolean, number and string</p>

    <h4>Data Structures</h4>
    <p>Nested lists and data hashmaps has first class support</p>

    <h4>References</h4>
    <p>Built-in support for data references inside the document</p>
  </div>

  <div class="col-lg-6">
    <h4>DRY</h4>
    <p>Copy or extend data structures and values by reference</p>

    <h4>Templating</h4>
    <p>Powerful templating features including string interpolation</p>

    <h4>Operators</h4>
    <p>Logical, comparison and basic math operators</p>
  </div>

  <div class="col-lg-12">
    <h2>Oli is useful for</h2>
    <p>>> Create sintax clean and readable configuration files</p>
    <p>>> Create you own DSL for specific purposes</p>
    <p>>> Store human writable/readable data, like manifest files</p>
    <p>>> Data interchange format for non-complex schemas structures</p>
    <p>>> Powerful markup-like templating language</p>
  </div>

  <div class="col-lg-12">
    <h2>Design Goals</h2>

    <p>>> Human focused, readability matters</p>
    <p>>> Keep simple as possible, but provide built-in rich features</p>
    <p>>> Permissive sintax but realiable, avoid ambiguity</p>
    <p>>> Unobstructive minimal sintax grammar-free, ideally for DSL</p>
    <p>>> Elegant mix of common programming languages features</p>
  </div>

  <div class="col-lg-12">
    <h2>Contributing</h2>
    <p>Oli is a community-driven project. 
    The language features and specification are under active debate and enhancement process. It's <a href="https://github.com/oli-lang/oli/issues?labels=discussion&amp;page=1&amp;state=open">open</a> for everyone to discuss</p>

    <h4>How can I contribute?</h4>
    <p>>> Write a parser and compiler</p>
    <p>>> Discuss the future specification and language features</p>
    <p>>> Use it (of course)</p>
    <p>>> Talk about it to your friends</p>
    <p>>> Help improving the documentation</p>
  </div>

</div>

