<div class="jumbotron">
  <h2>Elegant, expressive, unobstructive and featured minimal language for humans</h2>
  <hr />
  <pre class="language-ruby" highlight>
url = 'https://github.com/oli-lang'
# project's information
name: Oli!
type: language
version: 0.1.0
open spec: yes
license: MIT
homepage: 'http://oli-lang.org'
repository: url: *url/oli
categories: - minimalist, markup-like
description:-
  Oli is an elegant, expressive, 
  unobstructive and featured 
  minimal language for humans
end
features:
  pretty
  higienic
  string interpolation
  templating
  linked data
  nested structures
end</pre>
  <hr />
  <p>
    <a class="btn btn-lg btn-primary" href="#/syntax" role="button">Syntax overview</a>
    <a class="btn btn-lg btn-primary" href="#/try" role="button">Try it online</a>
  </p>
</div>

<div class="row marketing">

  <div class="col-lg-12">
    <h2>What is it?</h2>

      <p>Oli aims to be a confortable minimal language for multiple purposes which provides a mix of features from common markup languages and some basic features from programming languages</p>
      <p>It has a beautiful, elegant and clean syntax with unobstructive grammar, that allows you to use it for multiple purposes like creating your own DSL adapting the syntax for the specific use case context. It was designed to be mainly consumed by humans</p>
  </div>

  <div class="col-lg-12">
    <h2>Features</h2>
  </div>

  <div class="col-lg-6">
    <h4>Primitive Types</h4>
    <p>Primitive types with powerful type inference: boolean, number and string</p>

    <h4>Data Structures</h4>
    <p>List and data maps had first class support</p>

    <h4>Linked Data</h4>
    <p>Built-in support for data link references inside the document</p>
  </div>

  <div class="col-lg-6">
    <h4>DRY</h4>
    <p>It provides built-in support for copy and inheritance of data structures</p>

    <h4>Templating</h4>
    <p>Powerful templating features including string interpolation</p>

    <h4>Higienic Syntax</h4>
    <p>Clean and unobstructive syntax grammar-free symbol-based</p>
  </div>

   <div class="col-lg-12">
    <h3>Upcoming Features</h3>
  </div>

  <div class="col-lg-6">
    <h4>Indent-based Blocks</h4>
    <p>A clean and short way to define blocks. "end" terminator token will be optional</p>

    <h4>Block Scope</h4>
    <p>Each new block creates a new referenceable scope which inherits from parents blocks</p>
  </div>

  <div class="col-lg-6">
    <h4>Interpolated Code</h4>
    <p>Built-in support for interpolated code expressions allowing control-flow structures and iteration</p>

    <h4>Functions and Math operations</h4>
    <p>Helper functions for data transformation, formatting and math basic operations</p>
  </div>

  <div class="col-lg-12">
    <h2>Oli is useful for</h2>
    <p>>> Creating clean and readable configuration files</p>
    <p>>> Using it as your own DSL for specific purposes</p>
    <p>>> Storing human writable/readable data, like manifest files</p>
    <p>>> As data interchange format for non-complex schemas structures</p>
    <p>>> Featured markup-like language for templating</p>
    <p>>> Partial replacement for JSON, XML, INI...</p>
  </div>

  <div class="col-lg-12">
    <h2>Design Goals</h2>

    <p>>> Human focused, readability matters</p>
    <p>>> Keep it simple but provide built-in rich features</p>
    <p>>> Realiable syntax. Avoid ambiguity</p>
    <p>>> Unobstructive grammar-free syntax</p>
    <p>>> Elegant mix of basic programming languages features</p>
  </div>

 <div class="col-lg-12">
    <h2>Implementations</h2>

    <p>>> <a href="https://github.com/oli-lang/oli-js">JavaScript</a></p>
    <p>>> <a href="https://github.com/oli-lang/oli-java">Java</a></p>
  </div>

  <!--
  <div class="col-lg-12">
    <h2>Real use case projects</h2>
    <p>>> <a href="https://github.com/h2non/oml">Oml</a> - Oli markup language templating engine</p>
    <p>>> <a href="https://github.com/h2non/buildspec">Buildspec</a> - Declarative, featured, CI-agnostic build configuration file</p>
  </div>
  -->

  <div class="col-lg-12">
    <h2>Contributing</h2>
    <p>Oli is a community-driven project.
    The language specification is under active debate and enhancement process. It's <a href="https://github.com/oli-lang/oli/issues?labels=discussion&amp;page=1&amp;state=open">open</a> for everyone to discuss, you're welcome!</p>

    <h4>How can I contribute?</h4>
    <p>>> Write a parser and compiler</p>
    <p>>> Discuss the future specification and language features</p>
    <p>>> Use it</p>
    <p>>> Talk about it to your friends</p>
    <p>>> Help improving the documentation</p>
  </div>

</div>

