<div class="jumbotron">
  <h2>Elegant, expressive, unobstructive and featured minimal language for humans</h2>
  <!--<p class="lead">When markup meets programming</p>-->
  <hr />
  <pre class="language-ruby" highlight>
url = 'http://schema.org'
# point information
&amp;name: Empire State Building
image: 'http://bit.ly/1hXoBhd'
description:-
  The *name is a 103-story skyscraper 
  located in Midtown Manhattan
end
location > geo:
  latitude: 40.75
  longitude: 73.98
end
context >> geo:
  name: *url/name
  image:
    id: *url/image.png
    landscape: yes
  end
end</pre>
  
  <hr />
  <p>
    <a class="btn btn-lg btn-primary" href="#/syntax" role="button">Syntax overview</a>
    <a class="btn btn-lg btn-primary" href="#/try" role="button">Try it online</a>
  </p>
</div>

<div class="row marketing">

  <div class="col-lg-12">
    <h2>What is it?</h2>
    
      <p>Oli aims to be a confortable minimal language for multiple purposes which provides a mix of features from common markup languages and some basic features from programming languages</p>

      <p>It has a beutiful, elegant and clean syntax with unobstructive grammar, that allows to use it for multiple purposes, like using it to create your own DSL. It was designed to be mainly consumed by humans and keeping sintax extensibility in mind</p>
    
  </div>

  <div class="col-lg-12">
    <h2>Features</h2>
  </div>

  <div class="col-lg-6">
    <h4>Primitives Types</h4>
    <p>Primitive types with powerful type inference: boolean, number and string</p>

    <h4>Data Structures</h4>
    <p>Lists and data hash maps has first class support</p>

    <h4>Linked data</h4>
    <p>Built-in support for data link references inside the document</p>
  </div>

  <div class="col-lg-6">
    <h4>DRY</h4>
    <p>Copy or inherits data structures and values by reference (it also support multiple inheritance)</p>

    <h4>Templating</h4>
    <p>Powerful templating features including string interpolation</p>

    <h4>Higienic syntax</h4>
    <p>Clean and unobstructive syntax grammar-free with only two reserved keywords</p>
  </div>

   <div class="col-lg-12">
    <h3>Upcoming features</h3>
  </div>

  <div class="col-lg-6">
    <h4>Indent-based blocks</h4>
    <p>A clean and short way to define blocks. "end" terminator token will be optional</p>

    <h4>Block scope variables</h4>
    <p>Scope sharing based on blocks</p>
  </div>


  <div class="col-lg-6">
    <h4>Interpolated code</h4>
    <p>Built-in support for interpolated code expressions allowing control-flow structures and iteration</p>

    <h4>Functions</h4>
    <p>Helper functions for data transformation and formatting</p>
  </div>

  <div class="col-lg-12">
    <h2>Oli is useful for</h2>
    <p>>> Create syntax clean and readable configuration files</p>
    <p>>> Use it as your own DSL for specific purposes</p>
    <p>>> Store human writable/readable data, like manifest files</p>
    <p>>> Data interchange format for non-complex schemas structures</p>
    <p>>> Featured markup-like language for templating</p>
  </div>

  <div class="col-lg-12">
    <h2>Design Goals</h2>

    <p>>> Human focused, readability matters</p>
    <p>>> Keep simple as possible, but provide built-in rich features</p>
    <p>>> Permissive syntax but realiable, avoid ambiguity</p>
    <p>>> Unobstructive minimal syntax grammar-free, ideally for DSL</p>
    <p>>> Elegant mix of common programming languages features</p>
  </div>

 <div class="col-lg-12">
    <h2>Implementations</h2>

    <p>>> <a href="https://github.com/oli-lang/oli-js">JavaScript</a></p>
    <p>>> <a href="https://github.com/oli-lang/oli-java">Java</a></p>
  </div>

  <!--
  <div class="col-lg-12">
    <h2>Real use case projects</h2>
    <p>>> <a href="https://github.com/h2non/oml">Oml</a> - Oli markup language templating engine</p>
    <p>>> <a href="https://github.com/h2non/buildspec">Buildspec</a> - Declarative, featured, CI-agnostic build configuration file</p>
  </div>
  -->

  <div class="col-lg-12">
    <h2>Contributing</h2>
    <p>Oli is a community-driven project.
    The language specification is under active debate and enhancement process. It's <a href="https://github.com/oli-lang/oli/issues?labels=discussion&amp;page=1&amp;state=open">open</a> for everyone to discuss, you're welcome!</p>

    <h4>How can I contribute?</h4>
    <p>>> Write a parser and compiler</p>
    <p>>> Discuss the future specification and language features</p>
    <p>>> Use it</p>
    <p>>> Talk about it to your friends</p>
    <p>>> Help improving the documentation</p>
  </div>

</div>

