<h3>Online Parser</h3>

<div ng-controller="ParserDemoCtrl">

  <div class="row">
    <div class="col-md-8">
      <textarea class="form-control" rows="14" ng-model='code'></textarea>
    </div>
    <div class="col-md-4">
      <h4>Examples</h4>
      <div class="list-group">
        <a class="list-group-item pointer" ng-repeat="(name, code) in examples" ng-click="setCode(code)">
          {{name}}
        </a>
      </div>
      <button ng-click="parse()" type="button" class="btn btn-success btn-primary btn-sm">Parse</button>
      <button type="button" class="btn btn-primary btn-sm" ng-click="setCode('')">Clear</button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="pointer" ng-class="{ active: tab == 'result'}" ng-click="tab = 'result'"><a>Output</a></li>
        <li class="pointer" ng-class="{ active: tab == 'ast'}"  ng-click="tab = 'ast'"><a>AST</a></li>
        <li class="pointer" ng-class="{ active: tab == 'tokens'}"  ng-click="tab = 'tokens'"><a>Tokens</a></li>
      </ul>
      <pre highlight class="language-ruby line-numbers" ng-show="tab == 'result'" ng-model="output"></pre>
      <pre highlight class="language-ruby" ng-show="tab == 'ast'" precode="ast"></pre>
      <pre highlight class="language-ruby" ng-show="tab == 'tokens'" precode="tokens"></pre>
    </div>
  </div>

</div>