<h4>Online Parser</h4>

<div ng-controller="ParserDemoCtrl">
 
  <div class="row">
    <div class="col-md-9">
      <div code-editor source="code" update="codeFile" repl="options"></div>
      <div class="powered"><small>powered by <a href="https://github.com/oli-lang/oli-js">oli.js</small></a></div>
    </div>
    <div class="col-md-3">
      <h5>Examples</h5>
      <div class="list-group">
        <a class="list-group-item pointer" ng-repeat="name in examples" ng-click="setCode($index)">
          {{name}}
        </a>
      </div>
      <button ng-click="parse()" type="button" class="btn btn-success btn-primary btn-xs">Parse</button>
      <button type="button" class="btn btn-primary btn-xs" ng-click="clean()">Clean</button>
      <button type="button" class="btn btn-info btn-xs" ng-click="url()">Link</button>
      
      <div class="input-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.loc">Include SLOC
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.comments">Include comments
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.meta">Metadata code
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.repl">REPL mode
          </label>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="ast || error">
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div ng-show="error">
          <div class="alert alert-danger">
            {{error.fullMessage}}
            <blockquote class="errorLines" ng-bind-html="errorLines" ng-show="errorLines"></blockquote> 
          </div>
        </div>
        <div ng-show="!error">
          <ul class="nav nav-tabs">
            <li class="pointer" ng-class="{ active: tab == 'result'}" ng-click="tab = 'result'"><a>Output</a></li>
            <li class="pointer" ng-class="{ active: tab == 'ast'}"  ng-click="tab = 'ast'"><a>AST</a></li>
            <li class="pointer" ng-class="{ active: tab == 'tokens'}"  ng-click="tab = 'tokens'"><a>Tokens</a></li>
          </ul>
          <pre highlight class="language-javascript output" ng-show="tab == 'result'" precode="output"></pre>
          <pre highlight class="language-javascript output" ng-show="tab == 'ast'" precode="ast"></pre>
          <pre highlight class="language-javascript output" ng-show="tab == 'tokens'" precode="tokens"></pre>
        </div>
      </div>
    </div>
  </div>

</div>