<h2>Sintax Overview</h2>

<h3>Boolean</h3>
<pre class="language-ruby" highlight>
true
false
# equivalent semantic aliases
yes
no 
</pre>

<h3>Numbers</h3>
<pre class="language-ruby" highlight>
2014
3.141592 # numbers can have decimal part
-46.01 # also it can be signed
0xFFF # or hexadecimal expressions prefixed with "0x"
</pre>

<h3>Strings</h3>
<pre class="language-ruby" highlight>
strings literals can be unquoted
'and wrapped with quotes'
"or with double quotes"
</pre>

<h3>Lists</h3>
<pre class="language-ruby" highlight>
# in-line lists using the dash separator
hello: - world, from, oli! 
# it can be multi line also
hello:
  world
  from
  oli!
end
# or explicit using brackets
hello: [ 
  oli, 'says'
  yes, 12.34
]
</pre>

<h3>Assignment</h3>
<pre class="language-ruby" highlight>
# single value assignment
hello: world!
# in-line nested assignment
it: has: a: Cool! I really like it
# primitives types assignment
boolean: yes
string: 'oli rules!'
number: 3.141592
# or lists
list: [ 1, 2, 3 ]
</pre>

<h3>Blocks</h3>
<pre class="language-ruby" highlight>
# in-line blocks expressions
hello: world!
# nested
it: has: a: 'pretty sintax'
# multi-line blocks
oli rules!:
  yes # parsed as boolean
  I agree # parsed as string
  another: 
    nested: block
  end
end
</pre>

<h3>Comments</h3>
<pre class="language-ruby" highlight>
# you can use single-line comment
hello: oli! # on any part of the source
## 
  or multiple lines
##
name: 
  oli is
  ## and interpolated ##
  simple!
end
</pre>

<h3>References</h3>
<pre class="language-ruby" highlight>
# you can create references with "&amp;" operator
&amp;hello: oli!
name: 
  oli is
  ## and interpolated ##
  simple!
end
</pre>

<h2>Featured Example</h2>
<pre class="language-ruby" highlight>
# this a is a comment
name: Hello Oli!
version: 0.1.0

author:
  name: Tomas Aparicio
  email: tomas@aparicio.me
  web: 'http://tomas.aparicio.me'
  social: no # boolean primitive value
end

##
  Multi-line comment
##
server deploy > zeus:
  server > host url: 'http://zeus.server.com' # strings can be quoted
  port: 9000 # number as primitive value
  retry: yes # yes is a primitive 
  # nested block
  authentication: 
    # lists can be implicit using commas
    tokens:
    end
  end
end

# extends from zeus block
server deploy >> zeus > hera:
  server: 'http://hera.server.com'
end

# in-line nested structures
hey: you: are: seeing: oli!

# blocks can have attributes
nested block (alias: make, type: 'user question'):
  # multi-line nested structures
  you: # implitic list
    born
    in # this is a string
    [ 80, 'th' ], ? # old, ehn?
  end
end

# empty blocks
non existence:!

# creates a copy of hera block
deploy: *hera

# short-hand reference declaration operator
&amp;flags: --debug --trace
# hidden block in compilation output 
!&amp;verbose: --verbose

# templating with inteporaled variables
command: server.sh start *flags

# multi-line unquoted string
log:
  | /var/log/deploy.log
  | /var/log/error.log

</pre>
