<h2>Syntax Overview</h2>

<h3>Boolean</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
true
false
# semantic aliases
yes
no 
</pre>
</div>

<h3>Numbers</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
2014 # integer
3.1416 # float
-46.01 # signed
0xFFF # hexadecimal
</pre>
</div>

<h3>Strings</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
strings literals can be unquoted
'and wrapped with quotes'
"or with double quotes"
# string escape
escape this \string \end
# and unicode characters expression as strings
\u0061\u0062\u0063\u0064\u0065\u0066\u0067
</pre>
</div>

<h3>Lists</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
# in-line lists using the dash operator and commas
- 'hello', world, yes, 3.1416
# wrapped with brackets, end of line also matters
[ 
  'hello', world
  yes, 3.1416
]
# or you can use the double-dash operator 
# to create first level lists
--
  'hello'
  world
  yes
  3.1416
</pre>
</div>

<h3>Assignment</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
# single value assignment
hello: world!
# in-line nested assignment
it: has: a: cool syntax!
# primitives types assignment
boolean: yes
string: 'oli rules!'
number: 3.141592
# or lists
list: [ 1, 2, 3 ]
</pre>
</div>

<h3>Blocks</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
# in-line blocks expressions
hello: world!
# nested
it: has: a: 'pretty syntax'
# multi-line blocks
oli rules:
  yes # parsed as boolean
  I agree # parsed as string
  another: 
    nested: block
  end
end
# pipe block statement
block:
  | another: value
  | hello
  | 3.1416
# string blocks
fold:-
  it converts newlines
    to spaces and removes 
  leading whitespace
end
unfold:=
  the leading indent 
    (of the first line) and 
      trailing white space will be stripped:
end
# raw blocks
raw:>
  this will be parsed as raw string literal
    preserving lines, leading indent
    and ignoring any type of character 
    or expression inside the block
end
# blocks can have attributes
salutation(language, open: yes, version: 'beta'): hello
# it also supports assignment blocks with attributes
features(language, open: yes, version: 'beta')
# the above is equivalent to
null(language, cool: yes): nil
empty(language, cool: yes)!:
</pre>
</div>

<h3>Data References</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
# you can create references with "&amp;" operator
&amp;name: oli
# and consum it with *
text: *name is simple!
# another valid reference consumition expressions
value: *{name}
another: *'name'
# any type of expression in the document can consume references
# including string interpolation expressions
it: says: "hello *name" # => 'hello oli'
# single quotes strings cannot allow interpolated data references
hello: 'hello *name' # => 'hello *name'
# you can create referenciable values or blocks which will
# not be present in the compilation output
value = this is a document hidden value
# block 
# it also support blocks
block =
  this is a document 
  hidden value
end
</pre>
</div>

<h3>Block Expressions</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
# block alias expression
oli > says: hello
# you can also create alias references for blocks 
this &amp; salutation: hello
it > says: *salutation
# or using the alias reference operator
text &amp;> salutation: hello
# that is equivalent to
some > salutation &amp; salutation: hello

# blocks can inherit from another referenceable blocks
# create a sample referenceable block
&amp;yaml: 
  rules: yes
end
# then inherits from it
block >> yaml:
  cool: yes
end
# you can also deeply inherit from it as well
deep >>> yaml:
  cool: yes
end
# and multiple inheritance :)
multiple >> yaml >> another:
  cool: yes
end
&amp;another: 
  love: it
end
</pre>
</div>

<h3>Comments</h3>
<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight>
# you can use single-line comment
hello: oli! # on any part of the source
## 
  or multiple lines
##
name: 
  oli is
  ## and interpolated ##
  simple!
end
</pre>
</div>

<h2>Featured Example</h2>

<div>
<button type="button" class="btn btn-primary btn-xs run" run-code>Run code</button>
<pre class="language-ruby" highlight style="height: 100%">
# basic information
name: Hello Oli!
version: 0.1.0

##
  Server configuration
##
server deploy &amp;> zeus:
  port: 9000 # number as primitive value
  retry: yes # yes is a primitive
  server > host url: 'http://zeus.server.com' 
  # nested block
  authentication: 
    # in-line lists
    tokens:
      - $pasdw0rd, $€cr3t
    end
  end
end

# creates a new server config extending from zeus
server deploy >> zeus &amp;> hera:
  server: 'http://hera.server.com'
end

# in-line nested structures
hey: you: are: seeing: oli!

# blocks can have attributes
nested block (alias: make, type: 'user question'):
  # multi-line nested structures
  you: # implitic list
    born
    in # this is a string
    [ 80, 'th' ], ? # old, ehn?
  end
end

# empty block
non existence!:

# creates a copy of hera block
deploy: *hera

# hidden block in compilation output 
verbose = \--verbose
# short-hand reference declaration operator
&amp;flags: \--debug --trace *verbose

# templating with inteporaled variables
command: server.sh start *flags

# multi-line unquoted string
log:
  | stdout: /var/log/success.log
  | stderr: /var/log/error.log
</pre>
</div>
